.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  grid-template-columns: min-content;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;

  @media only screen and (max-width: $bp-m) {
    grid-column: full-start / full-end;
    grid-row: 7 / 8;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;

    @media only screen and (max-width: $bp-m) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-s) {
      grid-template-columns: min-content max-content;
    }
  }
  &__img {
    border-radius: 50%;
    max-width: 7rem;
    max-height: 100%;
    display: block;
  }
  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
  }
}
